alias {sudo,s}="sudo "
alias {pacdeldep,deletedependencies}="{{ .default_app.aur_helper }} -Qqd | {{ .default_app.aur_helper }} -Rsu -"
alias {pacrecent,recentinstalls}="recent-installs"
alias chezpush="chezmoi git add .; chezmoi git commit; chezmoi git push"
alias {gimp,Gimp}="gimp-2.99"
alias {reload,execzsh}="clear; exec zsh"
alias {btrfsl,btrfslist,listbtrfs}="btrfs subvolume list ."
alias {mountr,mountroot,btrfsmount}="mount -o subvolid=5 -L archroot /mnt; cd /mnt; ls -lha"
alias {driveinfo,showdrives,fdiskall}="fdisk -l ; echo \\n; lsblk; echo \\n; df -h; echo \\n;findmnt --fstab --target /boot"
alias shop="shop_manager"
alias memer="python $HOME/Documents/Repositories/word2vec/memer.py"
alias vpnprivado="openvpn --cd /etc/openvpn --config ./privadovpn/ber-001.default.ovpn --auth-user-pass ./privadovpn/pswd_file1.conf"
