print_something () {
  echo Hello $1
  return 0
}

notes=~/Documents/Notes/notes

note() {
  local keyword="$1"
  
  # Check if the keyword already exists in the notes file
  if grep -q "## $keyword" "$notes"; then
    # Keyword already exists, append the note under the existing keyword
    awk -v k="$keyword" '/^## / && found == 0 { if ($2 == k) found=1; else found=0 } found == 1 { print $0; next } 1' "$notes" > "$notes.temp"
    mv "$notes.temp" "$notes"
    cat >> "$notes" <<EOF
$(cat)
EOF
  else
    cat >> "$notes" <<EOF
## $keyword
$(cat)
EOF
  fi
} 

rnote() {
  cat $notes
}
